<!-- Sección principal de la recepción -->
<img src="Img/reservaFondo.png" alt="Fondo" />

<div class="opciones">
  <button class="opcion">🏥 Hospital Vietnam</button>
  <button class="opcion">👨‍⚕️ Consulta general</button>
  <button class="opcion">🧪 Análisis de sangre</button>
</div>
 <div class="listo"> 
    <button class="btn" routerLink="/reservarFecha">Listo</button> 
  </div>
<app-hospitales></app-hospitales>
<app-reserva-consultas></app-reserva-consultas>
<app-analisis></app-analisis>